{% extends "art/templates/artistas.html" %}
{% load i18n %}

{% block sections %}
{% if artista %}
<div class="section">
    <h2>{{ artista.name }} - {% trans "exposições" %}</h2>

    {% for exposicao in exposicoes %}
    <div>
      <a href="/exposicoes/{{ exposicao.id }}">{{ exposicao.title }} |
        {{ exposicao.start_date|date:"j F Y" }} - {{ exposicao.end_date|date:"j F Y" }}
      </a>
    </div>
    {% empty %}
        <p>Não há exposições.</p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
