{% extends "artistas/templates/artistas.html" %}
{% load i18n static %}

{% block sections %}
{% if artista %}
<div class="section">
    <h2>{{ artista.nome }} - {% trans "imprensa" %}</h2>
    {% for artigo in imprensa %}
    <div class="mb2"><a href="{% get_media_prefix %}{{ artigo.ficheiro }}">
            {{ artigo.artista.nome }} - "{{ artigo.titulo }}"
            in {{ artigo.editor }}
            {% if artigo.data %} | {{  artigo.data }}{% endif %} <i class="bi bi-arrow-up-right-square"></i></a>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
