{% extends "art/templates/artists.html" %}
{% load i18n static %}

{% block sections %}
{% if artist %}
<div class="section">
    <h2><a href="{% url "artists" %}">{% trans "artistas" %}</a> - {{ artist.name }}</h2>
    <div class="row mt-5">
        <div class="col-12 col-sm-2 text-center text-sm-start mb-3">
            {% if artist.foto %}
            <a href="{% get_media_prefix %}{{ artist.foto.image }}" target="blank">
                <img class="mb-2 img-fluid" src="{% get_media_prefix %}{{ artist.foto.thumbnail }}" border=0 /></a>
            {% endif %}

            {% if artist.bio %}
            <div><a href="{% get_media_prefix %}{{ artist.bio }}">{% trans "Curriculum" %} <i
                        class="bi bi-arrow-up-right-square"></i></a>
            </div>
            {% endif %}

            {% if works %}
            <div><a href="{% url "artist_works" artist.id %}">{% trans "Obra" %} </a></div>
            {% endif %}

            {% if critics %}
            <div><a href="{% url "artist_critics" artist.id %}">{% trans "Crítica" %}</a></div>
            {% endif %}

            {% if press %}
            <div><a href="{% url "artist_press" artist.id %}">{% trans "Imprensa" %}</a></div>
            {% endif %}

            {% if exhibitions %}
            <div><a href="{% url "artist_exhibitions" artist.id %}">{% trans "Expo MAC" %}</a></div>
            {% endif %}

            {% if collection %}
            <div><a href="{% url "artist_collection" artist.id %}">{% trans "Acervo MAC" %}</a></div>
            {% endif %}
        </div>
        <div class="col-12 col-sm-10">
            {% ifequal LANGUAGE_CODE 'en' %}
            <p>{{ artist.bio_short_en }}</p>
            {% else %}
            <p>{{ artist.bio_short_pt }}</p>
            {% endifequal %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}