{% extends "art/templates/artistas.html" %}
{% load i18n static %}

{% block sections %}
{% if artista %}
<div class="section">
    <h2>{% trans "artistas" %} - {{ artista.nome }} - {% trans "Acervo" %}</h2>
    {% if obras %}
     <div class="obras">
        {% for obra in obras %}
            {% if obra.foto %}
            <div class="obra">
                <div class="obra-holder">
                    <a href="{% url "work_detail" artista.id obra.id %}">
                        <img src="{% get_media_prefix %}{{ obra.foto.thumbnail}}" border="0" alt="{{ obra.title }} | {{ obra.art_type }} | {{ obra.year }}" title="{{ obra.title }} | {{ obra.art_type }} | {{ obra.year }}"/>
                    </a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}

