{% extends "art/templates/artists.html" %}
{% load i18n static %}

{% block sections %}
{% if artist %}
<div class="section">
    <h2><a href="{% url "artists" %}">{% trans "artistas" %}</a> - <a href="{% url "artist_detail" artist.id %}">{{ artist.name }}</a> - {% trans "Crítica" %}</h2>

    {% for critic in critics %}
    <div class="mb-2"><a href="{% get_media_prefix %}{{ critic.file }}">
            {{ critic.artist.name }} - {{ critic.title }}
            {% if critic.date %} | {{ critic.date }}{% endif %} <i class="bi bi-arrow-up-right-square"></i></a>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
