{% extends "templates/base.html" %}
{% load i18n static %}

{% block sections %}
<div class="section">
    
    <h2>{% block subsection %}{% trans "artistas" %} {% endblock %}</h2>
    {% if artists %}
    <div class="row row-cols-3 row-cols-sm-3 row-cols-md-4">
        {% for artist in artists %}
        <div class="row justify-content-center">
            <div class="card h-25 mb-3 border-0">
                <a href="{% url "artist_detail" artist.id %}" class="card-link">
                    {% if artist.foto.thumbnail %}
                    <img src="{% get_media_prefix %}{{ artist.foto.thumbnail }}" class="card-img-top artists__img" alt="image">
                    {% else %}
                    <img src="{% static 'images/photo-placeholder.jpg' %}" class="card-img-top artists__img" alt="image">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text text-center">{{artist.nome}} </p>
                    </div>
                </a>
            </div>
            <div width="20%" valign="bottom">
                {% for destaque in em_exposicao %}
                {% ifequal destaque.nome artist.nome %}
                <span style="color:red;">*</span>
                {% endifequal %}
                {% endfor %}
                </h4>
            </div>
        </div>
        {% endfor %}
        <div>
            <div colspan="3">
                <p><span style="color:red;">*</span><a href="/exposicoes/actuais">
                        {% trans "Artista em exposição" %}.</a></p>
            </div>
        </div>
    </div>
    {% else %}
    <p>{% trans "Não há artistas" %}.</p>
    {% endif %}
</div>
{% endblock %}