{% extends "artistas/templates/artistas.html" %}
{% load i18n static %}

{% block sections %}
{% if artista %}
    <div class="section">
        <h1><a href="/artistas">{% trans "artistas" %}</a> - {{ artista.nome }}</h1>

        <table>
            <tr>
                <td valign="top">
                    {% if artista.foto %}
                        <a href="{% get_media_prefix %}{{ artista.foto.image }}" target="blank"><img
                                src="{% get_media_prefix %}{{ artista.foto.thumbnail }}" border=0/></a>
                    {% endif %}

                    {% if artista.biografia %}
                        <h4><a href="{% get_media_prefix %}{{ artista.biografia }}">{% trans "Curriculum" %}</a>
                        </h4>
                    {% endif %}

                    {% if obras %}
                        <h4><a href="/artistas/{{ artista.id }}/obras">{% trans "Obra" %}</a></h4>
                    {% endif %}

                    {% if criticas %}
                        <h4><a href="/artistas/{{ artista.id }}/critica">{% trans "Crítica" %}</a></h4>
                    {% endif %}

                    {% if imprensa %}
                        <h4><a href="/artistas/{{ artista.id }}/imprensa">{% trans "Imprensa" %}</a></h4>
                    {% endif %}

                    {% if exposicoes %}
                        <h4><a href="/artistas/{{ artista.id }}/exposicoes">{% trans "Expo MAC" %}</a></h4>
                    {% endif %}

                    {% if acervo %}
                        <h4><a href="/artistas/{{ artista.id }}/acervo">{% trans "Acervo MAC" %}</a></h4>
                    {% endif %}
                </td>

                {% get_current_language as LANGUAGE_CODE %}
                {% ifequal LANGUAGE_CODE 'en' %}
                    <td valign="top"><p>{{ artista.bio_resumo_en }}</p></td>
                {% else %}
                    <td valign="top"><p>{{ artista.bio_resumo }}</p></td>
                {% endifequal %}
            </tr>
        </table>
    </div>
{% endif %}
{% endblock %}



