{% extends "artistas/templates/artistas.html" %}
{% load i18n static %}

{% block sections %}
{% if artista %}
<div class="section">
    <h2>{% trans "artistas" %} - {{ artista.nome }} - {% trans "Crítica" %}</h2>

    {% for critica in criticas %}
    <div class="mb-2"><a href="{% get_media_prefix %}{{ critica.ficheiro }}">
            {{ critica.artista.nome }} - {{ critica.titulo }}
            {% if critica.data %} | {{ critica.data }}{% endif %} <i class="bi bi-arrow-up-right-square"></i></a>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
