{% extends "templates/base.html" %}
{% load i18n static %}

{% block sections %}
<div class="section">
    
    <h2>{% block subsection %}{% trans "artistas" %} {% endblock %}</h2>
    {% if artists %}
    <div class="row row-cols-3 row-cols-md-6 mt-5 artists__card">
        {% for artist in artists %}
        <div>
            <div class="card mb-5 border-0">
                <a href="{% url "artist_detail" artist.id %}" class="card-link">
                    {% if artist.foto.thumbnail %}
                    <img src="{% get_media_prefix %}{{ artist.foto.thumbnail }}" class="card-img-top artists__img" alt="image">
                    {% else %}
                    <img src="{% static 'images/photo-placeholder.jpg' %}" class="card-img-top artists__img" alt="image">
                    {% endif %}
                    <div class="mt-3">
                        <p class="text-center artist__text">{{artist.nome}} </p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>{% trans "Não há artistas" %}.</p>
    {% endif %}
</div>
{% endblock %}