{% extends "galeria/templates/galeria.html" %}
{% load i18n %}

{% block sections %}

    <div class="section">
    
        <h1><a href="/mac">MAC</a> - <a href="/mac/acervo">{% trans "acervo" %}</a> - {{ artista.nome }}</h1>
	
    {% if acervo_list %}
    	
        
        <div class="obras">
           
                {% for obra in acervo_list %}
               
                    {% if obra.foto %}
					
					<div class="obra">
						<div class="obra-holder">
                            <a href="/mac/acervo/{{ artista.id }}/{{ obra.id }}">
                                <img src="/site-media/{{ obra.foto.thumbnail}}" border="0" alt="{{ obra.titulo }} | {{ obra.tipo }} | {{ obra.ano }}" title="{{ obra.titulo }} | {{ obra.tipo }} | {{ obra.ano }}"/>
                            </a>
                    	</div>
					</div>
					
                    {% endif %}
                        
                {% endfor %}
            </div>

        
	{% else %}
        <p>Não há obras em acervo.</p>
	{% endif %}
	
	</div>

{% endblock %}


