{% extends "galeria/templates/galeria.html" %}
{% load i18n %}

{% block sections %}

	<div class="section">
    
        <h1><a href="/mac">MAC</a> - {% trans "curriculum" %}</h1>
       
       {% if anos %}
        
        <table>
        {% for linha in anos %}
            <tr>
            {% for ano in linha %}
                <td style="padding:0 40px 0 0;" valign="bottom">
                <h4><a href="/mac/curriculum/{{ ano }}">{{ ano }}</a></h4>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
	
    {% else %}
        <p>Não há curriculum.</p>
    {% endif %}
    </div>
    
{% endblock %}

