{% extends "templates/base.html" %}
{% load i18n %}

{% block sections %}
<div class="section">
    <h2>{% trans "contactos" %}</h2>

    {% if gallery_list %}
    <table style="border:solid white 1px;border-collapse:collapse;">
      <tr>
        {% for entry in gallery_list %}
        <td style="border:#ccc dotted 0.5px;padding:0 10px 0 10px;">
            <h2>{{ entry.nome }}</h2>
                <p><b>{% trans "Morada" %}:</b> {{ entry.rua }} - {{ entry.cod_postal }} {{ entry.cidade }}</p>
                <p><a href="{{entry.mapa}}" target="blank"><b>{% trans "Mapa" %}</b></a></p>
                <p><b>{% trans "Telefone" %}:</b> {{ entry.telefone }}</p>
                <p><b>{% trans "Email" %}:</b> <a href="{% url "contact_us" %}">{{ entry.email|stringformat:"s" }}</a></p>
                    <p><b>{% trans "Horário" %}:</b>
                  {% ifequal LANGUAGE_CODE "en" %}
                Weekdays from 13h to 20h, saturdays from 15h to 19h</p>
                {% else %}
                <p>{{ entry.horario }}</p>
                  {% endifequal %}
        </td>
        {% endfor %}
      </tr>
    </table>

    {% else %}
        <p>Não há contactos.</p>
    {% endif %}
</div>
{% endblock %}
