{% extends "templates/base.html" %}
{% load i18n static %}

{% block sections %}
<div class="section">
   <h2>{% trans "exposições" %}{% block subsection %}{% endblock %}</h2>

    {% if exposicoes %}
    <div class="container">
        <div class="row mt-5"> 
        {% for exhibition in exposicoes %}
        <div class="col col-sm-2">
            <div class="card mb-5 text-center shadow">
                <div class="card-body">
                <a href="{% url 'exhibition_detail' exhibition.id %}" class="card-link">
                    {% with exhibition.art_works.all|first as first_work %}
                        {% if first_work.foto.thumbnail %}
                            <img src="{% get_media_prefix %}{{ first_work.foto.thumbnail  }}" />
                        {% else %}
                            <img src="{% static 'images/photo-placeholder.jpg' %}" class="card-img-top artists__img" alt="image">
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="card-text">
                    <div class="mt-3">
                        <p class="text-center artist__text">{{ exhibition.title }}</p>
                        <p class="text-center artist__text">{{ exhibition.start_date|date:"j M" }} - {{ exhibition.end_date|date:"j M" }}</p>
                    </div>
                </div>    
                </a>
            </div>
        </div>
            {% endfor %}
        </div>
    {% else %}
    <p>{% trans "Novas exposições a agendar." %}</p>
    {% endif %}
    </div>
</div>
{% endblock %}
