{% extends "galeria/templates/galeria.html" %}
{% load i18n static %}

{% block sections %}
<div class="section">
    <h2>{% trans "acervo" %} - {{ artista.nome }}</h2>
    {% if acervo_list %}
        <div class="obras">
            {% for obra in acervo_list %}
                {% if obra.foto %}
                    <div class="obra">
                        <div class="obra-holder">
                            <a href="/mac/acervo/{{ artista.id }}/{{ obra.id }}">
                                <img src="{% get_media_prefix %}{{ obra.foto.thumbnail }}" border="0"
                                     alt="{{ obra.titulo }} | {% trans obra.tipo.nome %} | {{ obra.ano }}"
                                     title="{{ obra.titulo }} | {% trans obra.tipo.nome %} | {{ obra.ano }}"/>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>Não há obras em acervo.</p>
    {% endif %}
</div>
{% endblock %}
