{% extends "templates/base.html" %}
{% load i18n static tags %}

{% block sections %}
<div class="section">
    <div class="container">
        <div class="row">
            <h2>{% block subsection %}{% trans "publicações" %} {% endblock %}</h2>  
        </div>
    </div>
    
    {% block abc %}
    {% endblock %}  
        
	{% for publicacao in publicacoes %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="pb-3"><a href="{% get_media_prefix %}{{ publicacao.file }}" target="_blank">
                    {{ publicacao.artist.name }} -
                    {% ifequal publicacao.publication_type 'Critica'%}{{ publicacao.title }}
                    {% else %}"{{ publicacao.title }}"
                    {% endifequal %}
                    {% ifequal publicacao.publication_type 'Imprensa' %} in {{ publicacao.editor }}{% endifequal %}
                    {% if publicacao.date %} | {{ publicacao.date }}{% endif %}
                </a></h4>
            </div>
        </div>
    </div>
    {% empty %}
        {% trans 'Não há publicações.' %}
    {% endfor %}
    </div>
{% endblock %}
