{% extends "publicacoes/templates/publicacoes_base.html" %}
{% load i18n %}

{% block subsection %}<a href="/publicacoes">{% trans "publicações" %}</a> - {% trans "imprensa" %}{% endblock %}

{% block abc %}
<div class="container">
    <div class="row">
            <p>
                <a href="/publicacoes/imprensa/AF">A - E</a> |
                <a href="/publicacoes/imprensa/FL">F - K</a> |
                <a href="/publicacoes/imprensa/LR">L - Q</a> |
                <a href="/publicacoes/imprensa/R_">R - Z</a>
            </p>
    </div>
</div>
{% endblock %}
