{% extends "templates/base.html" %}
{% load i18n tags %}

{% block sections %}
<div class="section">
    <div class="container">
        <div class="row">
            <h2 class="pb-3">{% block subsection %}{% trans "publicações" %} {% endblock %}</h2>           
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
            <div class="square_pub">
                <div class="content_pub shadow bg-body rounded">
                    <div class="table">
                        <div class="table-cell">
                            <button type="button" class="btn btn-outline table-cell">
                                {% if catalogos %}
                                    <h3><a href="/publicacoes/catalogos/AG">{% trans "Catálogos" %}</a></h3>
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-sm-4">
            <div class="square_pub">
                <div class="content_pub shadow bg-body rounded">
                    <div class="table">
                        <div class="table-cell">
                            <button type="button" class="btn btn-outline table-cell">
                                {% if criticas %}
                                    <h3><a href="/publicacoes/critica/AG">{% trans "Críticas" %}</a></h3>
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-sm-4">
            <div class="square_pub">
                <div class="content_pub shadow bg-body rounded">
                    <div class="table">
                        <div class="table-cell">
                            <button type="button" class="btn btn-outline table-cell">
                                {% if imprensa %}
                                    <h3><a href="/publicacoes/imprensa/AG">{% trans "Imprensa" %}</a></h3>
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

