{% extends "artistas/templates/artistas.html" %}
{% load i18n static %}

{% block sections %}
{% if trofeu %}
    <div class="section">
        <h2>{% trans "prémios MAC" %} - {{ aniversario.data|date:"Y" }} - {{ trofeu.titulo }}</h2>

        <table>
            <tr>
                <td valign="top">
                    <a href="{% get_media_prefix %}{{ trofeu.foto.image }}" target="blank"><img
                            src="{% get_media_prefix %}{{ trofeu.foto.thumbnail }}" border=0/></a>
                </td>

                <td valign="top">
                    <p><b>{{ trofeu.autor }}</b></p>
                    <p><b>{{ trofeu.titulo }} ({{ trofeu.ano }})</b></p>

                    {% if trofeu.descricao %}
                        <!--<i>Obra em {{ obra.estado }}</i>-->
                        <p><b>{% trans "Descrição" %}: </b>{{ trofeu.descricao }}</p>
                    {% endif %}

                    {% if trofeu.altura %}
                        <p><b>{% trans "Dimensões" %}: </b>
                            {{ trofeu.altura }} cm x {{ trofeu.largura }} cm
                            {% if trofeu.profundidade %}
                                x {{ trofeu.profundidade }} cm
                            {% endif %}
                        </p>
                    {% endif %}

                    {% if materiais %}
                        <p><b>{% trans "Materiais" %}: </b>
                        {% for material in materiais %}
                            {% if forloop.last %}
                                {{ material }}
                            {% else %}
                                {{ material }},
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if tecnicas %}
                        <p><b>{% trans "Técnicas" %}: </b>
                        {% for tecnica in tecnicas %}
                            {% if forloop.last %}
                                {{ tecnica }}
                            {% else %}
                                {{ tecnica }},
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endif %}
{% endblock %}


