{% extends "artistas/templates/artistas.html" %}
{% load i18n static %}

{% block sections %}
{% if exposicao %}
    <div class="section">

        <h2>{% trans "exposições" %} {{ exposicao.titulo }}" - {% trans "Obras" %}</h2>

        {% if obras %}
        <div class="obras">
            {% for obra in obras %}
                {% if obra.foto %}
                <div class="obra">
                    <div class="obra-holder">
                        <a href="{% url "work_detail" exposicao.id obra.id %}">
                            <img src="{% get_media_prefix %}{{ obra.foto.thumbnail}}" border="0" alt="{{ obra.titulo }} | {{ obra.tipo }} | {{ obra.ano }}"
                                 title="{{ obra.autor }} | {{ obra.titulo }} | {{ obra.tipo }} | {{ obra.ano }}"/>
                        </a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
            <p>Não há obras na exposição.</p>
        {% endif %}
    </div>
{% endif %}
{% endblock %}
