{% extends "exposicoes/templates/exposicoes.html" %}
{% load i18n static %}

{% block sections %}
{% if exposicao %}
<div class="section">
    <h2>{% trans "exposições" %} - "{{ exposicao.titulo }}"</h2>

    <div class="row mt-5">
        <div class="col-12 col-sm-2 text-center text-sm-start mb-3">
            {%  if exposicao.obras.all %}
                {% for obra in exposicao.obras.all %}
                    {% if forloop.first %}
                        {% if obra.foto %}
            <a href="{% url "exhibition_works" exposicao.id %}" target="blank">
                <img class="mb-2 img-fluid" src="{% get_media_prefix %}{{ obra.foto.thumbnail}}" border=0 />
            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
            <img src="{% get_media_prefix %}fotos/mac1_01.jpg" width="140" border=0 />
            {% endif %}

            {% if obras %}
                <div><a href="{% url "exhibition_works" exposicao.id %}">{% trans "Obras" %}</a></div>
            {% endif %}

            {% if exposicao.press_release %}
                <div><a href="{% get_media_prefix %}{{ exposicao.press_release }}">{% trans "Press Release" %} <i
                            class="bi bi-arrow-up-right-square"></i></a></div>
            {% endif %}

            {% if exposicao.convite %}
                <div><a href="{% get_media_prefix %}{{ exposicao.convite }}">{% trans "Convite" %} <i
                            class="bi bi-arrow-up-right-square"></i></a></div>
            {% endif %}

            {% if exposicao.catalogo_id %}
                <div><a href="{% get_media_prefix %}{{ exposicao.catalogo.ficheiro }}">{% trans "Catálogo" %}</a></div>
            {% endif %}

        </div>
        <div class="col-12 col-sm-10">

            <p><i>{{ exposicao.data_inicio|date:"j F" }} - {{ exposicao.data_fim|date:"j F Y" }}</i></p>

            {% if galerias %}
                {% for galeria in galerias %}
                    <p><b>{% trans "Galerias" %}: </b><a href="/mac/galerias">{{ galeria }}</a></p>
                {% endfor %}
            {% endif %}

            {% if artistas %}
            <p><b>{% trans "Artistas" %}: </b>
                {% for artista in artistas %}
                    {% if forloop.last %}
                <a href="{% url "artist_detail" artista.id %}">{{ artista }}</a>
                    {% else %}
                <a href="{% url "artist_detail" artista.id %}">{{ artista }}, </a>
                    {% endif %}
                {% endfor %}
            </p>
            {% endif %}
            {% ifequal LANGUAGE_CODE 'en' %}
                <p>{{ exposicao.descricao_en }}</p>
            {% else %}
                <p>{{ exposicao.descricao }}</p>
            {% endifequal %}

            {% if fotos %}
            <div class="obras">
                {% for foto in fotos %}
                <div class="obra" style="border:none; margin:10px 10px 0 0;">
                    <div class="obra-holder">
                        <a href="{% get_media_prefix %}{{ foto.image }}">
                            <img src="{% get_media_prefix %}{{ foto.thumbnail }}" target="blank" />
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>

    {% if actual %}
    {% ifequal LANGUAGE_CODE 'en' %}
        <p>{% trans "Informações de PVP (preço de venda ao público)" %}
            <a href="/contactos">{% trans "contacte-nos" %}
            </a>
        </p>
    {% else %}
        <p>Informações de PVP (preço de venda ao público) 
            <a href="/contactos">contacte-nos</a>
        </p>
    {% endifequal %}
    {% endif %}
</div>
{% endif %}
{% endblock %}
