{% extends "artistas/templates/artistas.html" %}
{% load i18n static %}

{% block sections %}
{% if obra %}
    <div class="section">
        <div class="container">
            <h2>{{ obra.titulo }}</h2>
        </div>

        <div class="card mb-3 border border-white" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                <a href="{% get_media_prefix %}{{ obra.foto.image }}" target="blank"><img src="{% get_media_prefix %}{{ obra.foto.image }}" class="img-fluid"/></a>
                </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ obra.titulo }} ({{ obra.ano }})</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><p><strong>Autor: </strong><a href="{% url "artist_detail" obra.autor.id %}">{{ obra.autor }}</a></li>
                        <li class="list-group-item"><p><strong>Tipo: </strong>{{ obra.tipo }}</li>
                            {% if obra.descricao %}
                            <!--<i>Obra em {{ obra.estado }}</i>-->
                        <li class="list-group-item"><p><strong>{% trans "Descrição" %}: </strong>{{ obra.descricao }}</li>
                            {% endif %}
                        
                        {% if obra.altura %}
                        <li class="list-group-item"><p><strong>{% trans "Dimensões" %}:  </strong>{{ obra.altura }} cm x {{ obra.largura }} cm
                            {% if obra.profundidade %}
                                x {{ obra.profundidade }} cm</li>
                            {% endif %}
                        {% endif %}

                        {% if materiais %}
                        <li class="list-group-item"><p><strong>{% trans "Materiais" %}:  </strong>
                        {% for material in materiais %}
                                {% if forloop.last %}
                                    {{ material }}
                                {% else %}
                                    {{ material }},
                                {% endif %}
                        {% endfor %}
                        </li>
                        {% endif %}

                        {% if tecnicas %}
                        <li class="list-group-item"><p><strong>{% trans "Técnicas" %}:  </strong>
                            {% for tecnica in tecnicas %}
                                {% if forloop.last %}
                                    {{ tecnica }}
                                {% else %}
                                    {{ tecnica }},
                                {% endif %}
                            {% endfor %}
                            </li>
                        {% endif %}                           
                      </ul>
                </div>
                <div class="container">
                <div class="row  justify-content-end">
                    <div class="col-1">
                    <a role="button" class="btn btn-outline-secondary" href="{% url 'exhibition_works' exposicao_id=id_artist %}"><i class="bi bi-skip-backward"></i>
                    </a>
                    </div>
                </div>
                </div>
            </div>
            </div>
    </div>
{% endif %}
{% endblock %}
