{% load i18n tags %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt">
<head>
	<title>Movimento Arte Contemporânea</title>
	<meta name="verify-v1" content="ndHXIOUJ4nJnrugKa7yg1uQUVJlSU8sqtPIJKQbIzEw=" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Filipa Andrade" />
	<meta name="keywords" content="art, gallery, art gallery, galeria de arte, artist, artista, arte, galeria, pintura, movimento, contemporanea, contemporary art, 
arte contemporanea, escultura, joalharia, ceramica, painting, sculpture, lisboa, lisbon, sol ao rato, alvares cabral" />
	<meta name="description" content="Movimento Arte Contemporanea - Galeria de Arte em Lisboa" />
	<meta name="geography" content="lisboa, portugal" />
	<meta name="copyright" content="Movimento Arte Contemporanea" />
	<meta name="robots" content="all" />
    
    <link href="/site-media/logos/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/site-media/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/site-media/stylesheets/jquery.lightbox-0.5.css" media="screen" />
    
    <!--[if IE]> <style type="text/css">@import "/site-media/stylesheets/ie_override.css";</style> <![endif]-->

    <!-- NEW CODE: ini -->
    <!--[if lt IE 8]>
	<script type="text/javascript" src="/site-media/javascript/IE7/IE8.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/site-media/javascript/jquery/jquery-1.3.1.min.js"></script>
    <script type="text/javascript" src="/site-media/javascript/jquery/plugins/jquery.cycle.all.js"></script>
    <script type="text/javascript" src="/site-media/javascript/jquery/plugins/jquery.lightbox-0.5.js"></script>
    	
    <script type="text/javascript">
        function set_lang(lang) {
            $('#language-select-language').val(lang).closest('form').submit();
            return false;
        }
    </script>
	
    <script type="text/javascript">
	$(function() {
		$('a.lightbox').lightBox(); // Select all links with lightbox class
	});
    </script>
    
    <script type="text/javascript">
        $(function () {
		$('#tela').cycle({ 
		      fx:    'fade', 
		      speed:  1000 
		 }); 
        });
    </script>
	
    <meta name="verify-v1" content="ndHXIOUJ4nJnrugKa7yg1uQUVJlSU8sqtPIJKQbIzEw=" />

</head>    

<body>
    <div id="top_left">
    </div>
    
    {% get_available_languages as LANGUAGES %}
    {% get_current_language as LANGUAGE_CODE %}
    
    <div id="top">
	<form id="language-select" class="c2-hidden" method="post" action="/i18n/setlang/">
	  <input id="language-select-language" type="hidden" value="pt" name="language"/>
	</form>
	{% for i in LANGUAGES %}
		<a href="#" onClick="return set_lang('{{ i.0 }}');">{{ i.0 }}</a>
        {% endfor %}
    </div>

    <div id="logo" style="overflow:hidden;">
        {% block tela %}
    
            <div id="tela" class="pics" style="overflow:hidden; height:120px; width:100%;">
                {% if telas %}
                    {% for tela in telas %}
                        <a href="/"><img src="/site-media/{{ tela.image }}" border="0" alt="" title="" style="height:120px;" /></a>
                    {% endfor %}
                {% endif %}
            </div>
            
            {% endblock %}
    </div>
    
    <div id="logo_mac">
        <a href="/"><img src="/site-media/logos/logo_mac_com_texto_branco_verde_cinzento_100px.jpg" align="right" border=0 /></a>
    </div>
    
    <div id="content">
        {% block sections %}
        {% endblock %}
	</div>

    <div id="menu">
        {% block menu %}
        
			<ul id="right_menu">
			  <li class="parent {% active request '/mac' %}">
			    <a class="{% active request '/mac' %}" href="/mac">{% trans 'MAC' %}</a>
                <ul class="childs {% active request '/mac' %}">
		            <li class="child"><a class="{% active request '/mac/missao/' %}" href="/mac/missao">{% trans "missão" %}</a></li>
		            <li class="child"><a class="{% active request '/mac/historia/' %}" href="/mac/historia">{% trans "história" %}</a></li>
		            <li class="child"><a class="{% active request '/mac/galerias' %}" href="/mac/galerias">{% trans "galerias" %}</a></li>
		            <li class="child"><a class="{% active request '/mac/agenda/' %}" href="/mac/agenda">{% trans "agenda" %}</a></li>
		            <li class="child"><a class="{% active request '/mac/curriculum/' %}" href="/mac/curriculum">{% trans "curriculum" %}</a></li>
		            <li class="child"><a class="{% active request '/mac/equipa/' %}" href="/mac/equipa">{% trans "estrutura" %}</a></li>
		            <li class="child"><a class="{% active request '/mac/premios/' %}" href="/mac/premios">{% trans "prémios MAC" %}</a></li>
		            <li class="child"><a class="{% active request '/mac/acervo/' %}" href="/mac/acervo">{% trans "acervo" %}</a></li>
		        </ul>
			  </li>

              <li class="parent {% active request '/exposicoes' %}">
			    <a class="{% active request '/exposicoes' %}" href="/exposicoes/actuais">{% trans 'exposições' %}</a>
                 <ul class="childs {% active request '/exposicoes' %}">
		            <li class="child"><a class="{% active request '/exposicoes/passadas/' %}" href="/exposicoes/passadas">{% trans "passadas" %}</a></li>
		            <li class="child"><a class="{% active request '/exposicoes/actuais/' %}" href="/exposicoes/actuais">{% trans "actuais" %}</a></li>
		            <li class="child"><a class="{% active request '/exposicoes/futuras/' %}" href="/exposicoes/futuras">{% trans "futuras" %}</a></li>
		        </ul>
			  </li>
              
			  <li class="parent {% active request '/artistas' %}">
			    <a class="{% active request '/artistas' %}" href="/artistas">{% trans 'artistas' %}</a>
                 <ul class="childs {% active request '/artistas' %}">
		            <li class="child"><a class="{% active request '/artistas/ceramica/' %}" href="/artistas/ceramica">{% trans "cerâmica" %}</a></li>
		            <li class="child"><a class="{% active request '/artistas/desenho/' %}" href="/artistas/desenho">{% trans "desenho" %}</a></li>
		            <li class="child"><a class="{% active request '/artistas/escultura/' %}" href="/artistas/escultura">{% trans "escultura" %}</a></li>
		            <li class="child"><a class="{% active request '/artistas/fotografia/' %}" href="/artistas/fotografia">{% trans "fotografia" %}</a></li>
		            <li class="child"><a class="{% active request '/artistas/joalharia/' %}" href="/artistas/joalharia">{% trans "joalharia" %}</a></li>
		            <li class="child"><a class="{% active request '/artistas/medalhistica/' %}" href="/artistas/medalhistica">{% trans "medalhística" %}</a></li>
		            <li class="child"><a class="{% active request '/artistas/pintura/' %}" href="/artistas/pintura">{% trans "pintura" %}</a></li>
		        </ul>
			  </li>
              
              
              <li class="parent {% active request '/publicacoes' %}">
			    <a class="{% active request '/publicacoes' %}" href="/publicacoes">{% trans 'publicações' %}</a>
                 <ul class="childs {% active request '/publicacoes' %}">
		            <!--<li class="child"><a class="{% active request '/publicacoes/newsletters/' %}" href="/publicacoes/newsletters">{% trans "newsletter" %}</a></li>-->
		            <li class="child"><a class="{% active request '/publicacoes/catalogos/' %}" href="/publicacoes/catalogos/AG">{% trans "catálogos" %}</a></li>
                    <li class="child"><a class="{% active request '/publicacoes/critica/' %}" href="/publicacoes/critica/AG">{% trans "crítica" %}</a></li>
                    <li class="child"><a class="{% active request '/publicacoes/imprensa/' %}" href="/publicacoes/imprensa/AG">{% trans "imprensa" %}</a></li>
		            <li class="child"><a class="{% active request '/publicacoes/monografias/' %}" href="/publicacoes/monografias/AG">{% trans "monografias" %}</a></li>
		            <li class="child"><a class="{% active request '/publicacoes/newsletters/' %}" href="/publicacoes/newsletters/AG">{% trans "newsletters" %}</a></li>
		        </ul>
			  </li>
             
            
            <li class="parent {% active request '/contactos' %}">
			    <a class="{% active request '/contactos' %}" href="/contactos">{% trans 'contactos' %}</a>
			</li>
              
            <li class="parent {% active request '/links' %}">
			    <a class="{% active request '/links' %}" href="/links">{% trans 'links' %}</a>
			 </li>
              
            <li class="parent {% active request '/mapa' %}">
			    <a class="{% active request '/mapa' %}" href="/mapa" style="text-transform:none;">{% trans 'Mapa do site' %}</a>
			</li>

			</ul>
            
            <form action="/resultados/" id="cse-search-box" style="margin-top:15px; padding:0 8px 0 8px;">
              <div style="width:100%;">
                <input type="hidden" name="cx" value="006106839518899152571:cr9p73wvgt8" />
                <input type="hidden" name="cof" value="FORID:9" />
                <input type="hidden" name="ie" value="UTF-8" />
                <input type="text" name="q" style="margin-top:5px; border:1px solid #ccc; font-size:12px;" />
                <input type="submit" name="sa" value={% trans "Pesquisar" %} style="cursor:pointer; margin-top:5px; border:0; 
background-color:#fff; color:#2F4F4F; " />           
              </div>
            </form>

<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=pt"></script>
<style>
input[name="q"]{width:96%;}
</style>

            
			{% endblock %}
            
    </div>
    
    <div id="foot">
		Copyright (c) 2008, Movimento Arte Contemporânea
		- All rights reserved. Hosted by <a style="color:#aaaaaa; text-decoration:none;" 
href="http://www.webfaction.com?affiliate=alvarogomes">Webfaction</a>.
	</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8353488-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
