{% extends "templates/base.html" %}
{% load i18n static %}

{% block sections %}

    <div class="section">

        <h2>{% trans "Destaques" %}</h2>

        {{ lang }}
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_current_language_bidi as LANGUAGE_BIDI %}

        {% if destaques %}

            <table class="table table-borderless text-center" id="index-table">

                {% if destaques|length_is:"1" %}
                    <tr>
                        {% for destaque in destaques %}
                            {% if destaque.imagem %}
                                <td>
                                    <img src="{% get_media_prefix %}{{ destaque.imagem }}"/>
                                </td>
                            {% endif %}
                            {% ifequal LANGUAGE_CODE 'en' %}
                                <td>
                                    <p>{{ destaque.texto_en }}</p>
                                </td>

                            {% else %}
                                <td>
                                    <p>{{ destaque.texto }}</p>
                                </td>
                            {% endifequal %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}


                {% if destaques|length_is:"2" %}
                    <tr>
                        {% for destaque in destaques %}
                            {% ifequal forloop.counter 1 %}
                                <td>
                                    {% else %}
                                <td>
                            {% endifequal %}
                        {% if destaque.imagem %}
                            <a href="{{ destaque.url }}"><img src="{% get_media_prefix %}{{ destaque.imagem }}"/></a>
                        {% endif %}

                        {% ifequal LANGUAGE_CODE 'en' %}
                            <p>{{ destaque.texto_en }}</p>
                        {% else %}
                            <p>{{ destaque.texto }}</p>
                        {% endifequal %}

                        </td>
                        {% endfor %}
                    </tr>
                {% endif %}


                {% if destaques|length_is:"3" %}
                    <tr>
                        {% for destaque in destaques %}
                            {% ifequal forloop.counter 1 %}
                                <td>
                            {% endifequal %}
                        {% ifequal forloop.counter 2 %}
                            <td>
                        {% endifequal %}
                        {% ifequal forloop.counter 3 %}
                            <td>
                        {% endifequal %}
                        {% if destaque.imagem %}
                            <a href="{{ destaque.url }}"><img src="{% get_media_prefix %}{{ destaque.imagem }}"/></a>
                        {% endif %}

                        {% ifequal LANGUAGE_CODE 'en' %}
                            <p>{{ destaque.texto_en }}</p>
                        {% else %}
                            <p>{{ destaque.texto }}</p>
                        {% endifequal %}

                        </td>
                        {% endfor %}
                    </tr>
                {% endif %}

                {% if destaques|length_is:"4" %}
                    <tr>
                        {% for destaque in destaques %}
                            {% ifequal forloop.counter 3 %}
                                <tr>
                            {% endifequal %}
                        {% ifequal forloop.counter 1 %}
                            <td>
                        {% endifequal %}
                        {% ifequal forloop.counter 3 %}
                            <td>
                        {% endifequal %}
                        {% ifequal forloop.counter 2 %}
                            <td>
                        {% endifequal %}
                        {% ifequal forloop.counter 4 %}
                            <td>
                        {% endifequal %}
                        {% if destaque.imagem %}
                            <img src="{% get_media_prefix %}{{ destaque.imagem }}"/>
                            </a>
                        {% endif %}

                        {% ifequal LANGUAGE_CODE 'en' %}
                            <p>{{ destaque.texto_en }}</p>
                        {% else %}
                            <p>{{ destaque.texto }}</p>
                        {% endifequal %}

                        </td>
                        {% ifequal forloop.counter 2 %}
                            </tr>
                        {% endifequal %}
                        {% endfor %}
                    </tr>
                {% endif %}

            </table>
        {% endif %}

    </div>
{% endblock %}

