{% extends "templates/base.html" %}
{% load i18n static %}

{% block sections %}
<div class="section">
    <h2>{% trans "Destaques" %}</h2>

    {% if destaques %}
    <table class="table table-borderless text-center" id="index-table">
        <tr>
        {% for destaque in destaques %}
            {% if destaque.image %}
            <td>
                <img src="{% get_media_prefix %}{{ destaque.image }}"/>
            </td>
            {% endif %}
            <td>
            {% ifequal LANGUAGE_CODE 'en' %}
                <p>{{ destaque.text_en }}</p>
            {% else %}
                <p>{{ destaque.text }}</p>
            {% endifequal %}
            </td>
        {% endfor %}
        </tr>
    </table>
    {% endif %}

</div>
{% endblock %}

