{% extends "templates/base.html" %}
{% load i18n static %}

{% block sections %}

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Links</h2> 
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                    {% if links_list %}
                        <div class="list-group list-group-flush">
                        {% for link in links_list %}
                            {% ifequal LANGUAGE_CODE 'en' %}
                                <button type="button" class="list-group-item list-group-item-action">
                                    <a href={{ link.url }} ><h4>{{ link.nome }}</h4></a>
                                </button>
                            {% else %}
                                <button type="button" class="list-group-item list-group-item-action">
                                    <a href={{ link.url }} ><h4>{{ link.nome }}</h4></a>
                                </button>
                            {% endifequal %}       
                        {% endfor %}
                    {% else %}
		                <p>Não há links.</p>
                        </div>
                </div>
	        </div>
	                {% endif %}
        </div>
    </div>
{% endblock %}

