{% extends "artistas/templates/artistas.html" %}
{% load i18n static %}

{% block sections %}
{% if obra %}
    <div class="section">
        <h2>{{ obra.titulo }}</h2>

        <table>
            <tr>
                <td valign="top">
                    <a href="{% get_media_prefix %}{{ obra.foto.image }}" target="blank"><img
                            src="{% get_media_prefix %}{{ obra.foto.thumbnail }}" border=0/></a>
                </td>

                <td valign="top">
                    <p><b>{{ obra.titulo }} ({{ obra.ano }})</b></p>

                    <p><b>{% trans "Tipo" %}: </b>{% trans obra.tipo.nome %}</p>

                    {% if obra.descricao %}
                        <!--<i>Obra em {{ obra.estado }}</i>-->
                        <p><b>{% trans "Descrição" %}: </b>{{ obra.descricao }}</p>
                    {% endif %}

                    {% if obra.altura %}
                        <p><b>{% trans "Dimensões" %}: </b>
                            {{ obra.altura }} cm x {{ obra.largura }} cm
                            {% if obra.profundidade %}
                                x {{ obra.profundidade }} cm
                            {% endif %}
                        </p>
                    {% endif %}

                    {% if materiais %}
                        <p><b>{% trans "Materiais" %}: </b>
                        {% for material in materiais %}
                            {% if forloop.last %}
                                {{ material }}
                            {% else %}
                                {{ material }},
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if tecnicas %}
                        <p><b>{% trans "Técnicas" %}: </b>
                        {% for tecnica in tecnicas %}
                            {% if forloop.last %}
                                {{ tecnica }}
                            {% else %}
                                {{ tecnica }},
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endif %}
{% endblock %}
