{% extends "galeria/templates/galeria.html" %}
{% load i18n %}

{% block sections %}

	<div class="section">
    
        <h1><a href="/mac">MAC</a> - {% trans "estrutura" %}</h1>

        {% if texto %}
            <table width="100%">
                <tr>
                    <td style="padding-bottom:20px;">
                        {{ texto.texto }}
                    </td>
                </tr>
                
		{% ifequal LANGUAGE_CODE 'en' %}
		<tr style="margin-top:30px;">
                    <td style="border-right:dotted 1px #ccc;">
                        <h4>MAC – Movimento Arte Contemporânea
                                <ul style="list-style-type:disc;">
                                    <li>Director</li>
                                    <ul style="list-style-type:square;">
                                        <li>Artistic / Cultural Department</li>
                                        <li>Sales / Marketing Department</li>
                                        <li>Financial Department</li>
                                        <li>Operational Department</li>
                                        <li>Research</li>
                                    </ul>
                                </ul>
                        </h4>
                    </td>

                    <td style="padding-left:40px;">
                        <h4>MAC – International
                                <ul style="list-style-type:disc">
                                    <li>Director</li>
                                    <ul style="list-style-type:square">
                                        <li>Artistic / Cultural Department</li>
                                        <li>Sales / Marketing Department</li>
                                        <li>Financial Department</li>
                                        <li>Operational Department</li>
                                        <li>Research</li>
                                    </ul>
                                </ul>
                        </h4>
                    </td>
                </tr>
                {% else %}
		<tr style="margin-top:30px;">
                    <td style="border-right:dotted 1px #ccc;">
                        <h4>MAC – Movimento Arte Contemporânea
                                <ul style="list-style-type:disc;">
                                    <li>Direcção Geral</li>
                                    <ul style="list-style-type:square;">
                                        <li>Área Artística/Cultural</li>
                                        <li>Área Comercial/Marketing</li>
                                        <li>Área Financeira</li>
                                        <li>Área Operacional</li>
                                        <li>Research</li>
                                    </ul>
                                </ul>
                        </h4>
                    </td>

                    <td style="padding-left:40px;">
                        <h4>MAC – Internacional
                                <ul style="list-style-type:disc">
                                    <li>Direcção Geral</li>
                                    <ul style="list-style-type:square">
                                        <li>Área Artística/Cultural</li>
                                        <li>Área Comercial/Marketing</li>
                                        <li>Área Financeira</li>
                                        <li>Área Operacional</li>
                                        <li>Research</li>
                                    </ul>
                                </ul>
                        </h4>
                    </td>
                </tr>
		{% endifequal %}

        </table>
        
	{% else %}
        <p>Não há equipa.</p>
    {% endif %}
    
    </div>
	
{% endblock %}
