{% extends "templates/index.html" %}
{% load i18n %}

{% block sections %}

	<div class="section">
    
        <h1><a href="/mac">MAC</a> - {% trans "missão" %}</h1>
        
        {% if texto %}
	{% get_current_language as LANGUAGE_CODE %}
        {% ifequal LANGUAGE_CODE 'en' %}
        <div class="text">
	        <p>{{ texto.texto_en }}</p>
        </div>
	{% else %}
        <div class="text">
            <p>{{ texto.texto }}</p>
        </div>
        {% endifequal %}
	{% endif %}        
    </div>
{% endblock %}

