{% extends "galeria/templates/galeria.html" %}
{% load i18n %}

{% block sections %}
  
        <h1><a href="/mac">MAC</a> - {% trans "história" %}</h1>
        {% if texto %}
	{% get_current_language as LANGUAGE_CODE %}
        {% ifequal LANGUAGE_CODE 'en' %}
        <div class="text">
            <p>{{ texto.texto_en }}</p>
        </div>
        {% else %}
        <div class="text">
            <p>{{ texto.texto }}</p>
        </div>
        {% endifequal %}
	{% endif %}
        
{% endblock %}

