{% extends "galeria/templates/galeria.html" %}
{% load i18n %}

{% block sections %}

	<div class="section">

        <h2>{% trans "prémios MAC" %}</h2>

	<table class="table">
	  <tr>
        
	        {% if aniversarios %}
		  <td>
		    <p></p>
	            {% for aniversario in aniversarios %}
        	        <h4><a href="/mac/premios/{{ aniversario.id }}"><b>{{ aniversario.data|date:"Y" }}</a></h4>
	            {% endfor %}
		  </td>
        	{% endif%}

		 {% if texto %}
		  <td>
		    {% get_current_language as LANGUAGE_CODE %}
        		{% ifequal LANGUAGE_CODE 'en' %}
				<div class="text">
		            <p>{{ texto.texto_en }}</p>
				</div>
		        {% else %}
				<div class="text">
					<p>{{ texto.texto }}</p>
				</div>
			{% endifequal %}
		  </td>
	        {% endif%}
	  </tr>
	</table>
        
    </div>
{% endblock %}

