{% extends "galeria/templates/galeria.html" %}
{% load i18n %}

{% block sections %}
<div class="section">

    <h2>{% trans "curriculum" %}</h2>

   {% if years %}
    {% for year in years %}
    <div class="square">
        <div class="content  shadow bg-body rounded">
            <div class="table">
                <div class="table-cell"> 
                    <button type="button" class="btn btn-outline table-cell"><a href="/mac/curriculum/{{ year }}">
                        {{ year }}</a></button>               
                </div>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <p>Não há curriculum.</p>
    {% endif %}
</div>
{% endblock %}
