{% extends "templates/base.html" %}
{% load i18n tags %}

{% block sections %}
<div class="section">
    <h1>{% block subsection %}{% trans "publicações" %} {% endblock %}</h1>

    <table id="publicacoes">
        <tr>
            {% if catalogos %}
                <td>
                    <h4><a href="/publicacoes/catalogos/AG">{% trans "Catálogos" %}</a></h4>
                </td>
            {% endif %}
        </tr>
        <tr>
            {% if criticas %}
                <td>
                    <h4><a href="/publicacoes/critica/AG">{% trans "Críticas" %}</a></h4>
                </td>
            {% endif %}
        </tr>
         <tr>
             {% if imprensa %}
                <td>
                    <h4><a href="/publicacoes/imprensa/AG">{% trans "Imprensa" %}</a></h4>
                </td>
            {% endif %}
        </tr>
    </table>

</div>
{% endblock %}

