{% extends "artistas/templates/artistas.html" %}
{% load i18n %}

{% block sections %}
	{% if artista %}
		<div class="section">
                <h1><a href="/artistas">{% trans "artistas" %}</a> - <a href="/artistas/{{ artista.id }}">{{ artista.nome }}</a> - {% trans "exposições" %}</h1>
                
                {% if exposicoes %}
                    {% for exposicao in exposicoes %}
                    	<h4>
			  <a href="/exposicoes/{{ exposicao.id }}">{{exposicao.titulo}} | 
				{{ exposicao.data_inicio|date:"j F Y" }} - {{ exposicao.data_fim|date:"j F Y" }}
			  </a>
			</h4>
                    {% endfor %}

                {% else %}
                    <p>Não há exposições.</p>
                {% endif %}


        </div>
	{% endif %}

{% endblock %}


