{% extends "publicacoes/templates/publicacoes.html" %}
{% load i18n %}

{% block sections %}
	{% if publicacao %}
		<div class="section">
                <h2><a href="/publicacoes">{% trans "publicações" %}</a> - {{ publicacao.titulo }}</h2>
                
                {% if publicacao.autor %}
                    <p><b>{% trans "Autor" %}: </b>{{ publicacao.autor }}</p>
                {% endif %}
                
                {% if publicacao.data %}
                <p><b>{% trans "Data" %}: </b>{{ publicacao.data|date:"j" }} de {{ publicacao.data|date:"F" }} de {{ publicacao.data|date:"Y" }}</p>
                {% endif %}
                
                <p>{{ publicacao.descricao }}</p>
                
                {% if publicacao.ficheiro %}
                    <h4><a href="/site-media/{{ publicacao.ficheiro }}">{% trans "Download" %}</a></h4> 
                {% endif %}
                
        </div>
	{% endif %}

{% endblock %}
